<!--
 * @Author: WildboarG
 * @version: 1.0
 * @Date: 2023-03-11 14:08:47
 * @LastEditors: WildboarG
 * @LastEditTime: 2023-03-11 18:48:45
 * @Descripttion: 
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>自动车库门禁系统</title>
    <link rel="stylesheet" href="../../static/css/login.css">
</head>

<body>
    <div class="login">
        <div class="box">
            <form class="table" method="post">
            <p class="table">Login</p>
            <br>
            <input type="text" placeholder="账号" name="user">
            <input type="password" placeholder="密码" name="password">
            <br>
            <input type="submit" value="go" class="go">
            </form>
        </div>
    </div>
</body>
</html>
